$c-default: #aaa;
$c-default-dark: #777;

$c-primary: #1a8cff;
$c-secondary: #06c0f9;
$c-tertiary: #ffbf00;

$c-delimiter: #999;
$c-name: #06c0f9;
$c-object: #ff667d;
$c-tag: #1a8cff;
$c-color: #ff66a3;
$c-function: #9f81f7;
$c-number: #00cca3;
$c-text: #ff80d5;
$c-comment: #aaa;
$c-null: #06ade0;
$c-boolean: #ffbf00;
$c-reserved: #1a8cff;
$c-regex: #ffbf00;