@import '../themes/default.scss';

.prettyme {
  color: $c-default-dark;
  position: relative;

  .token-wrapper {
    display: inline-block;

    i {
      font-style: normal;
    }
  }

  &.numbered {
    counter-reset: lines;

    .line {
      position: relative;

      &::before {
        counter-increment: lines;
        content: counter(lines);
        position: absolute;
        left: -80px;
        text-align: right;
        color: lighten($c-default, 15%);
        min-width: 40px;
      }
    }
  }

  &.theme-dark {
    background-color: #444;
    color: $c-default;

    &.numbered {
      .line::before {
        color: darken($c-default, 25%);
      }
    }
  }
}