.prettyme {
  color: $c-secondary;

  .comment {
    color: $c-comment;
  }

  .name {
    color: $c-name;
  }

  .delimiter {
    color: $c-delimiter;
  }

  .string {
    color: $c-text;
  }

  .number {
    color: $c-number;
  }

  .object {
    color: $c-object;
  }

  .reserved {
    color: $c-reserved;
  }

  .function.name:not(.reserved) {
    color: $c-function;
  }

  .null {
    color: $c-null;
  }

  .boolean {
    color: $c-boolean;
  }
}