$c-default: #aaa;
$c-default-dark: #777;

$c-primary: #1a8cff;
$c-secondary: #06c0f9;
$c-tertiary: #ffbf00;

$c-delimiter: #999;
$c-name: #06c0f9;
$c-object: #ff667d;
$c-tag: #1a8cff;
$c-color: #ff66a3;
$c-function: #9f81f7;
$c-number: #00cca3;
$c-text: #ff80d5;
$c-comment: #aaa;
$c-null: #06ade0;
$c-boolean: #ffbf00;
$c-reserved: #1a8cff;
$c-regex: #ffbf00;

.prettyme {
  color: $c-default-dark;
  position: relative;

  .token-wrapper {
    display: inline-block;

    i {
      font-style: normal;
    }
  }

  &.numbered {
    counter-reset: lines;

    .line {
      position: relative;

      &::before {
        counter-increment: lines;
        content: counter(lines);
        position: absolute;
        left: -80px;
        text-align: right;
        color: lighten($c-default, 15%);
        min-width: 40px;
      }
    }
  }

  &.theme-dark {
    background-color: #444;
    color: $c-default;

    &.numbered {
      .line::before {
        color: darken($c-default, 25%);
      }
    }
  }
}