@import '_prettyme';

.prettyme.css {
  color: $c-primary;

  .comment {
    color: $c-default;
  }

  :not(.comment) {
    &.property,
    &.word.in-bracket:not(.value) {
    color: $c-secondary;
    }
  
    &.value,
    &.in-value,
    &.word.in-value:not(.property) {
    color: $c-tertiary;
    }
  
    &.color {
    color: $c-color;
    }
  
    &.function {
    color: $c-function;
    }
  
    &.number,
    &.unit {
    color: $c-number;
    }
  
    &.text {
    color: $c-text;
    }
  
    &.delimiter {
    color: $c-delimiter;
    }
  
    &.selector {
    color: $c-tag;
    }
  }  
}