@import '_prettyme';

.prettyme.css.lexer {
  color: #2ECCFA;

  .comment {
    color: $c-default;
  }

  :not(.comment) {
    &.property,
    &.word.in-bracket:not(.value) {
      color: $c-secondary;
    }

    &.value,
    &.in-value,
    &.word.in-value:not(.property) {
      color: $c-tertiary;
    }

    &.color {
      color: #9F81F7;
    }

    &.function {
      color: #ff3385;
    }

    &.number,
    &.unit {
      color: #00cca3;
    }

    &.text {
      color: #F781F3;
    }

    &.delimiter {
      color: $c-default-dark;
    }

    &.selector {
      color: $c-primary;
    }
  }
} 