@import '_prettyme';

.prettyme.html {
  color: $c-default-dark;

  .comment {
    color: $c-default;
    font-style: italic;
  }

  &.delimiter,
  &.comment {
    color: $c-default-dark;
  }
  
  .in-angle {
    &.tag {
      color: $c-tag;
    }
  
    &.attribute {
      color: $c-secondary;
    }
  
    &.value {
      color: $c-tertiary;
    }
  }
}