@import '_prettyme';

.prettyme.html.lexer {
  color: $c-default-dark;

  .comment {
    color: $c-default;
    font-style: italic;
  }

  :not(.comment) {
    &.delimiter,
    &.comment {
      color: $c-default-dark;
    }

    &.in-angles {
      &.tag {
        color: $c-primary;
      }

      &.attribute {
        color: $c-secondary;
      }

      &.value {
        color: $c-tertiary;
      }
    }
  }
}