@import '_prettyme';

.prettyme.json {
  @for $i from 0 through 10 {
    .tab.tab#{$i}x {
      padding-left: 40px * $i;
    }
  }

  .property.string {
    color: $c-name;
  }

  .number {
    color: $c-number;
  }

  .string {
    color: $c-text;
  }

  .null {
    color: $c-null;
  }

  .true, .false {
    color: $c-boolean;
  }
}