@import '_prettyme';

.prettyme.markdown {
  .header {
    .a {
      color: $c-primary;
    }
  }

  .bold {
    font-weight: 700;
    color: $c-color;
  }

  .italic {
    font-style: italic;
    color: $c-secondary;
  }

  .list {
    &.ul-list,
    &.ol-list {
      i {
        color: $c-tertiary;
      }
    }
  }

  .link {
    i {
      color: $c-function;

      &.b {
        color: $c-text;
      }

      &.p {
        color: $c-color;
      }
    }

    .u {
      color: $c-primary;
    }
  }

  .code-inline {
    color: $c-function;
  }

  .code {
    color: $c-number;

    i {
      color: $c-text;
    }
  }

  .quote {
    i {
      color: $c-number;
    }
  }
}