@import '../base/prettyme';

.prettyme.html {
  color: $c-default-dark;

  .comment {
    color: $c-comment;
    font-style: italic;
  }

  &.delimiter,
  &.comment {
    color: $c-delimiter;
  }
  
  .in-angle {
    &.tag {
      color: $c-tag;
    }
  
    &.attribute {
      color: $c-name;
    }
  
    &.value {
      color: $c-tertiary;
    }
  }
}